body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.seccion1 {
  padding: 5px;
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.seccion1 img {
  width: 49%;
  height: 85vh;
  margin: 5px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
  order: 1;
}

.descripcion {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  order: 2;
}

.descripcion h2 {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.botones {
  width: 30%;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content:right;
  order: 3;
  margin-top: -25px;
}

.botones button {
  margin-right: 10px;
  padding: 5px;
  font-size: 18px; /* Tamaño del icono */
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.boton-audio {
  
background-color: #4CAF50;
color: white;
}

.boton-enlace {

background-color: #008CBA;
color: white;
}

.boton-red-social {

background-color: #3B5998;
color: white;
}
.toggle-descripcion{
background-color: transparent;
color: #858585;
text-align: center;
cursor: pointer;
border: none;
font-size: 14px;
transition: color 0.3s ease;
}

.toggle-descripcion:hover {
color: #ccc;
}

#cerrarPagina {
  position: fixed;
  top: 30px;
  left: 13px;
  
  cursor: pointer;
  background-color: #858585;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: color 0.3s ease;
  border-radius: 50%;
}
#cerrarPagina:hover{
  background: #919191;
}        


.oculto {
  display: none;
}

@media (max-width: 768px) {
  /* Estilos específicos para pantallas más pequeñas */
  .seccion1{
      width: 80%;
  }
  .linea2{
      width: 80%;
  }
  .descripcion,
  .botones {
      width: 100%;
      order: 2;
  }
}

#myImg {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Caption of Modal Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
}