@media only screen and (max-width: 100vw) {
body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}
@font-face{
	font-family: nunito;
	src: url("../fonts/nunito/nunito-regular.ttf") format("truetype");

}
@font-face{
	font-family: nunitobold;
	src: url("../fonts/nunito/nunito-bold.ttf") format("truetype");

}

h4{
    font-family: nunito;
    font-size: 20px;
}

p{
    font-family: nunito;
}

body.dark-mode {
    background-color: #1d1d1d;
    color: #fff;
}
html{
    scroll-snap-type: y mandatory;
}
#loadingScreen{
    background-color: #0b033e;
    position: fixed; top: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2s ease-out;
}
#loadingScreen.loaded{
    opacity:0%;
    display: none;
}

#loadIMG{
    width: 200px;
    height: 200px;
    display: flex;
}


.section {
    position: relative; 
    width: 85%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 50px;
    scroll-snap-align: start;
}


.section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.owl-carousel {
    position:relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-bottom: 30px;
}

.owl-carousel .owl-item img {
    width: 65px;
    height: 65px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #fff;
    
  
}

#logo {
    width:60px;
    height:auto;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 15px;
    position: fixed; left: 45%; top: 5px;
}



.dark-mode-button {
    position: fixed;
    top: 15px;
    right: 0px;
    padding: 5px;
    background-color: transparent;
    color: #858585;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.dark-mode-button:hover {
    color: #ccc;
}

/* Nueva regla CSS para cambiar el color del icono */
.dark-mode .dark-mode-button i.fa-moon {
    color: black;
}

.dark-mode .dark-mode-button i.fa-sun {
    color: white;
}

.dark-mode .audio-container #playPauseIcon {
    color: white;
}

/*Boton audio*/

.audio-container {
    text-align: center;
  }

.audiobtn {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 10px;
    background-color: transparent;
    color: #858585;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: color 0.3s ease;
}
#playPauseIcon{
    color:#999;
}

#playPauseIcon:hover {
  color: #ccc;
}

/*footer*/
.dark-mode footer h1{
    color:#fff;
}
.dark-mode footer p{
    color:#fff;
}
footer{
    width: 100%;
    background:transparent;
    height: auto;
    justify-content: center;
    clear: both;
    position: fixed; bottom: 0px;
}
footer h1
  {
    padding: 20px;
    text-align: center;
    font-size: 10px;
    color: #000;
    font-family:nunito;
}
footer p{
    text-align: center;
    font-size: 10px;
    color: #000;
    font-family: nunito;
    z-index: 9999;
}

.redes{
    margin-top: 20px;
  
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  .redes img {
    width: 50px;
    padding: 10px;
}

.caption {
    position: absolute;
    opacity: 0;
}

.caption:hover, .caption:active{
    position: absolute;
    background-color: black;
    color: white;
    opacity: 65%;
    font-family: nunitobold;
    width: 100%;
    display: block;
}

#idioma{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50%;
    border-color: black;
    background-color: white;
    opacity: 46%;
    color: black;
    font-size: 12px;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed; left: 30px; top: 25px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

}
