* {
    box-sizing: border-box
}
body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    img {
        vertical-align: middle;
    }
}
@font-face{
	font-family: nunito;
	src: url("../fonts/nunito/nunito-regular.ttf") format("truetype");

}
@font-face{
	font-family: nunitobold;
	src: url("../fonts/nunito/nunito-bold.ttf") format("truetype");

}



h4{
    font-family: nunito;
    font-size: 20px;
}

p{
    font-family: nunito;
}


body.dark-mode {
    background-color: #1d1d1d;
    color: #fff;
}


.caption_ingles{
    display:none;
}
.caption_espanol{
    display:block;
}


    




#loadingScreen{
    background-color: #0b033e;
    position: fixed; top: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2s ease-out;
}
#loadingScreen.loaded{
    opacity:0%;
    display: none;
}

#loadIMG{
    width: 200px;
    height: 200px;
    display: flex;
}


.section {
    position: relative; 
    width: 80%;
    height: 82vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
    scroll-snap-align: start;
}


.section img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.owl-carousel {
    position:relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-bottom: 30px;
}

.owl-carousel .owl-item img {
    width: 65px;
    height: 65px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #fff;

}

.horizontal{
    position: relative; 
    padding-top: 10px;
    margin: auto;
    max-width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width:2000px){

    #logo {
        width:50px;
        height:auto;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 15px;
        position: fixed; left: 50%; top: 5px;
    }
    html{
        scroll-snap-type: x mandatory;
    }

    .dark-mode-button {
        position: fixed;
        top: 10px;
        right: 30px;
        padding: 5px;
        background-color: transparent;
        color: #858585;
        text-align: center;
        cursor: pointer;
        border: none;
        font-size: 30px;
        transition: color 0.3s ease;
    }
    
    .dark-mode-button:hover {
        color: #ccc;
    }
    
    /* Nueva regla CSS para cambiar el color del icono */
    .dark-mode .dark-mode-button i.fa-moon {
        color: black;
    }
    
    .dark-mode .dark-mode-button i.fa-sun {
        color: white;
    }
    
    .dark-mode .audio-container #playPauseIcon {
        color: white;
    }

    #idioma{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 50%;
        border-color: black;
        background-color: white;
        opacity: 46%;
        color: black;
        font-size: 15px;
        padding:6px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed; left: 35px; top: 10px;
        cursor: pointer;
    }

    footer{
        width: 100%;
        background: linear-gradient(rgb(0, 6, 121) 0%, rgb(1, 4, 64) 47%, rgb(1, 4, 65) 100%);
        height: auto;
        justify-content: center;
        clear: both;
        position: absolute;
        bottom: 0px;
    }
    
    footer h1 {
        padding: 5px;
        text-align: center;
        font-size: 10px;
        color: #fff;
        font-family:nunito;
    }
    footer p{
        text-align: center;
        font-size: 10px;
        color: #fff;
        font-family: nunito;
        z-index: 9999;
    }
    .redes{
        margin-top: 20px;
        margin-bottom: 0px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      .redes img {
        width: 50px;
        padding: 10px;
    }
    
    #mobileFooter{
        display:none;
    }
    #label_en{
        position: fixed; left: 185px; top: 70px;
        color:white;
        font-family: nunitobold; 
    }
    #label_es{
        position: fixed; left: 185px; top: 95px;
        color:white; 
        font-family: nunitobold;
    }
    
    #Espanol{
        position: fixed; left: 155px; top: 95px;
    }
    #English{
        position: fixed; left: 155px; top: 70px;
    }

   

}

@media only screen and (max-height:700px){

    #logo {
        width:50px;
        height:auto;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 15px;
        position: fixed; left: 47%; top: 5px;
    }
    html{
        scroll-snap-type: x mandatory;
    }

    .dark-mode-button {
        position: fixed;
        top: 15px;
        right: 0px;
        padding: 5px;
        background-color: transparent;
        color: #858585;
        text-align: center;
        cursor: pointer;
        border: none;
        font-size: 20px;
        transition: color 0.3s ease;
    }
    
    .dark-mode-button:hover {
        color: #ccc;
    }
    
    /* Nueva regla CSS para cambiar el color del icono */
    .dark-mode .dark-mode-button i.fa-moon {
        color: black;
    }
    
    .dark-mode .dark-mode-button i.fa-sun {
        color: white;
    }
    
    .dark-mode .audio-container #playPauseIcon {
        color: white;
    }
    #idioma{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 50%;
        border-color: black;
        background-color: white;
        opacity: 46%;
        color: black;
        font-size: 12px;
        padding:6px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed; left: 10px; top: 10px;
        cursor: pointer;
    }
    footer{
        width: 100%;
        background: linear-gradient(rgb(0, 6, 121) 0%, rgb(1, 4, 64) 47%, rgb(1, 4, 65) 100%);
        height: auto;
        justify-content: center;
        clear: both;
        position: sticky;
        bottom: 0px;
    }
    
    footer h1 {
        padding: 5px;
        text-align: center;
        font-size: 10px;
        color: #fff;
        font-family:nunito;
    }

    footer p{
        text-align: center;
        font-size: 10px;
        color: #fff;
        font-family: nunito;
        z-index: 9999;

    }
    .redes{
        margin-top: 20px;
        margin-bottom: 0px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      .redes img {
        width: 50px;
        padding: 10px;
    }


    #desktopFooter{
        display:none;
    }
    #mobileFooter{
        display:block;
    }

    .section_hz{
        position: relative; 
        width: 80%;
        height: 65vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        text-align: center;
        margin: 5;
        padding-top: 50px;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 50px;
        scroll-snap-align: start;
    }

    .section img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    #label_en{
        position: fixed; left: 80px; top: 70px;
        color:white;
        font-family: nunitobold; 
    }
    #label_es{
        position: fixed; left: 80px; top: 95px;
        color:white; 
        font-family: nunitobold;
    }
    
    #Espanol{
        position: fixed; left: 50px; top: 95px;
    }
    #English{
        position: fixed; left: 50px; top: 70px;
    }



}
  




/*Boton audio*/

.audio-container {
    text-align: center;
  }

.audiobtn {
    position: absolute;
    top: 25px;
    right: 5px;
    padding: 10px;
    background-color: transparent;
    color: #858585;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: color 0.3s ease;
}
#playPauseIcon{
    color:#999;
}

#playPauseIcon:hover {
  color: #ccc;
}

/*footer*/
.dark-mode footer h1{
    color:#fff;
}
.dark-mode footer p{
    color:#fff;
}

footer{
    width: 100%;
    background: linear-gradient(rgb(0, 6, 121) 0%, rgb(1, 4, 64) 47%, rgb(1, 4, 65) 100%);
    height: auto;
    justify-content: center;
    clear: both;
    position: sticky;
    bottom: 0px;
}

footer h1
  {
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family:nunito;
}
footer p{
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family: nunito;
    z-index: 9999;
}

.caption {
    position: absolute;
    opacity: 0;
}

.caption p{
    margin: 15px;
}


.caption:hover, .caption:active{
    position: absolute;
    background-color: black;
    color: white;
    opacity: 65%;
    font-family: nunitobold;
    width: 100%;
    display: block;
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


